.mother{
    display: flex;
    border: 1px solid transparent;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
}
.beta{
    border-bottom: 5px solid purple;
    min-height: 200px;
    flex-direction: row;
    display: flex;
}
.face{
    border: 1px solid transparent;
    width: 35%;
    display: block;
    object-fit: fill;
    height: 200px;
    align-content: flex-end;
}
.face img{
    margin-left: 120px;
    margin-top: 30px;
}
.about{
    border: 1px solid transparent;
    width: 65%;
    min-height: 200px;
}
#about-me{
    font-family: cursive
}
#reach-me{
    line-height: 0.75cm;
}
.uno{
    border-bottom: 3px solid purple;
    min-height: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.school{
    border: 1px solid transparent;
    min-height: 200px;
    width: 25%;
    margin-left: 50px;
}
#school{
    border: 1 px solid transparent;
    min-height: 200px;
    width: 75%;
    margin-left: 70px;
}
.deux{
    border-bottom: 3px solid purple;
    min-height: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.exp{
    border: 1px solid transparent;
    min-height: 200%;
    width: 25%;
    margin-left: 50px;
}
#exp{
    border: 1px solid transparent;
    min-height: 200px;
    width: 75%;
    margin-left: 70px;
}
.deux>ul{
    display: inline-block;
    text-align: left;
}
.trois{
    border-bottom: 3px solid purple;
    min-height: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
#skills{
    border: 1px solid transparent;
    height: 250px;
    width: 25%;
    margin-left: 50px;
}
#pro{
border: 1px solid transparent;
height: 250px;
width: 37.5%;
}
#personal{
    border: 1px solid transparent;
    height: 250px;
    width: 37.5%;
}
#pro>ul, #personal>ul{
    list-style-type: none;
    line-height: 0.8cm;
}
progress::-webkit-progress-bar{
    background: whitesmoke;
}
progress{
    background: whitesmoke;
    color: royalblue;
}
progress::-webkit-progress-value{
    color: royalblue;
}
form.contact label{
    display: block;
}
/*#small{
    width: 600px;
    height: 400px;
    box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
padding: 10px 50px 0;
background: linear-gradient(#fff,#f2f6f9)
}*/
form.contact{
    border: 1px purple;
    align-items: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
label{
    font-size: 17px;
}
input{
width: 300px;
padding: 10px;
border: 1px solid #cbcbcb;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 5px;
box-shadow: inset 0 1px 2px rgba(0,0,0,0,18);
font-size: 16px;

}
textarea{
    width: 300px;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0,18);
    font-size: 16px;
}
input[type=submit]{
cursor: pointer;
font-size: 20px;
font-weight: 500;
color: purple;
border: 1px solid rgb(65, 5, 65);
width: 100px;
box-shadow: inset 0 1px 0 0 #5c0851;
text-shadow: 0 1px 0 #490346;
}
.school, .exp, #skills, #reach{
    color: purple;
}