#mother{
    border: 1px;
    display: flex;
    width: 75%;
    column-count: 2;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: beige
}
#block{
    min-height: 50px;
    flex-grow:1;
    border: 1px solid transparent;
}
#lock{
    min-height: 50px;
    flex-grow: 1;
    border: 1px solid transparent;
}
.fine{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 50%;
    border: 1px;
    object-fit: fill;
}
#master{
    min-height: 300px;
    border: 1px;
}
#team{
    min-height: 200px;
    border: 1px;
}
.about{
    min-height: 200px;
    border: 1px;
    line-height: 1cm;
}
#first{
    min-height: 300px;
    border: 1px;
}
body{
    margin: 0 auto;
    font-family: Calibri;
}
#add, #name{
    line-height: .75cm;
    list-style-type: none;
}
#name, #skill, #Exp, #pupil{
color: purple
}
form.contact label{
    display: block;
}
form.contact{
    width: 100%;
    flex-grow: 1;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}